Section "Device"
    Identifier "NVIDIA GPU"
    Driver "nvidia"
    Option "AllowEmptyInitialConfiguration" "True"
EndSection

Section "Monitor"
    Identifier "VirtualMonitor"
    HorizSync 30-83
    VertRefresh 56-75
    Modeline "1920x1080_60.00" 173.00 1920 2048 2248 2576 1080 1083 1088 1120 -hsync +vsync
EndSection

Section "Screen"
    Identifier "Screen0"
    Device "NVIDIA GPU"
    Monitor "VirtualMonitor"
    DefaultDepth 24
    SubSection "Display"
        Depth 24
        Virtual 1920 1080
        Modes "1920x1080_60.00"
    EndSubSection
EndSection
