sunshine_name = {{ project_slug }}-workstation
address_family = both
origin_web_ui_allowed = pc
upnp = disabled
audio_sink = sunshine_sink
stream_audio = enabled
lan_encryption_mode = 2
wan_encryption_mode = 2
